/* Carrusel */
.slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background: linear-gradient(135deg, #2980b9, #27ae60);
    color: white;
    text-align: center;
    overflow: hidden;
}


.slide {
    display: none;
    /* Todas las slides están ocultas por defecto */
    position: absolute;
    width: 100%;
    /* Aseguramos que ocupen todo el ancho del carrusel */
    text-align: center;
}

.slider .slide.active {
    display: block;
}

.slider h2 {
    font-size: 36px;
    font-weight: 600;
}

.slider p {
    margin-top: 10px;
    font-size: 18px;
}

.slider button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ffcd3c;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 50%;
    z-index: 1;
    user-select: none;
    transition: background-color 0.3s;
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}